# This config file uses defaults based on my needs for a US+WORLD 1G1R set with Exclusions that only contains retail games sold during the systems lifespan in stores
# Configure everything to suit your own needs, I have left these settings in simply as an example


                    ##### \\\\\ These settings are MANDATORY and can not be empty ///// #####


### Path to IGIR - Relative or Absolute
igir_binary="./igir"


### DAT File
### Absolute or relative path from IGIRST.SH, wildcards in the DAT path work. If using a wildcard, ensure only 1 DAT exists for the system

    # Atari #



    # NEC #
    
    

    # Nintendo #

_3ds_dat="./dats/nintendo/Nintendo - Nintendo 3DS (Decrypted) (Parent-Clone)*.*"

_64_dat="./dats/nintendo/Nintendo - Nintendo 64 (BigEndian) (Parent-Clone)*.*"

ds_dat="./dats/nintendo/Nintendo - Nintendo DS (Decrypted) (Parent-Clone)*.*"

gb_dat="./dats/nintendo/Nintendo - Game Boy (Parent-Clone)*.*"

gba_dat="./dats/nintendo/Nintendo - Game Boy Advance (Parent-Clone)*.*"

gbc_dat="./dats/nintendo/Nintendo - Game Boy Color (Parent-Clone)*.*"

nes_dat="./dats/nintendo/Nintendo - Nintendo Entertainment System (Headered) (Parent-Clone)*.*"

snes_dat="./dats/nintendo/Nintendo - Super Nintendo Entertainment System (Parent-Clone)*.*"

vb_dat="./dats/nintendo/Nintendo - Virtual Boy (Parent-Clone)*.*"

    # SEGA #
    
    
    
    # SNK #
    


### Input ROMs Directory
### Absolute or relative path from IGIRST.SH

    # Atari #



    # NEC #
    
    

    # Nintendo #

_3ds_input="../../Nintendo/3DS/Roms"

_64_input="../../Nintendo/N64/Roms"

ds_input="../../Nintendo/DS/Roms"

gb_input="../../Nintendo/Game Boy/Roms"

gba_input="../../Nintendo/Game Boy Advance/Roms"

gbc_input="../../Nintendo/Game Boy Color/Roms"

nes_input="../../Nintendo/NES/Roms"

snes_input="../../Nintendo/SNES/Roms"

vb_input="../../Nintendo/Virtual Boy/Roms"

    # SEGA #
    
    
    
    # SNK #
    


# Output ROMs Directory
# Absolute or relative path from IGIRST.SH, or the input variable

    # Atari #



    # NEC #
    
    

    # Nintendo #

_3ds_output="$_3ds_input"

_64_output="$_64_input"

ds_output="$ds_input"

gb_output="$gb_input"

gba_output="$gba_input"

gbc_output="$gbc_input"

nes_output="$nes_input"

snes_output="$snes_input"

vb_output="$vb_input"

    # SEGA #
    
    
    
    # SNK #
    


# Backup for cleanup
# Backups are not mandatory, but a check is performed to ensure IGIR will not error if using backups
# Directory does not have to exist, and will not be created if not using backups

    # Atari #



    # NEC #
    
    

    # Nintendo #

_3ds_backup="$_3ds_output/../backup"

_64_backup="$_64_output/../backup"

ds_backup="$ds_output/../backup"

gb_backup="$gb_output/../backup"

gba_backup="$gba_output/../backup"

gbc_backup="$gbc_output/../backup"

nes_backup="$nes_output/../backup"

snes_backup="$nes_output/../backup"

vb_backup="$vb_output/../backup"

    # SEGA #
    
    
    
    # SNK #
    


#Report Filename
# Absolute or relative path from IGIRST.SH, or the output variable

    # Atari #



    # NEC #
    
    

    # Nintendo #

_3ds_report="$_3ds_output/../Nintendo - Nintendo 3DS (Decrypted) (Parent-Clone).csv"

_64_report="$_64_output/../Nintendo - Nintendo 64 (BigEndian) (Parent-Clone).csv"

ds_report="$ds_output/../Nintendo - Nintendo DS (Decrypted) (Parent-Clone).csv"

gb_report="$gb_output/../Nintendo - Game Boy (Parent-Clone).csv"

gba_report="$gba_output/../Nintendo - Game Boy Advance (Parent-Clone).csv"

gbc_report="$gbc_output/../Nintendo - Game Boy Color (Parent-Clone).csv"

nes_report="$nes_output/../Nintendo - Nintendo Entertainment System (Headered) (Parent-Clone).csv"

snes_report="$snes_output/../Nintendo - Super Nintendo Entertainment System (Parent-Clone).csv"

vb_report="$vb_output/../Nintendo - Virtual Boy (Parent-Clone).csv"

    # SEGA #
    
    
    
    # SNK #
    


                        ##### \\\\\ These settings are NOT MANDATORY and can be empty ///// #####



# Regions - Regions to filter by, in order of preference

    # Atari #



    # NEC #
    
    

    # Nintendo #

_3ds_regions="USA,WORLD"

_64_regions="USA,WORLD"

ds_regions="USA,WORLD"

gb_regions="USA,WORLD"

gba_regions="USA,WORLD"

gbc_regions="USA,WORLD"

nes_regions="USA,WORLD"

snes_regions="USA,WORLD"

vb_regions="USA,WORLD"

    # SEGA #
    
    
    
    # SNK #
    


# ROM Options - Set whatever IGIR options you want to use here

    # Atari #



    # NEC #
    
    

    # Nintendo #

_3ds_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

_64_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

ds_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

gb_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

gba_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

gbc_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

nes_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

snes_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

vb_options="--single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

    # SEGA #
    
    
    
    # SNK #
    


# Excludes - Must be in Glob format

    # Atari #



    # Nintendo #

_3ds_exclude="(Ace Combat - Assault Horizon Legacy \(USA\)|Disney 2-Pack - Frozen - Olaf's Quest \+ Big Hero 6 - Battle in the Bay|Pokemon Moon|Pokemon Sun|Teenage Mutant Ninja Turtles - Master Splinter's Training Pack)"

_64_exclude="(GameCube|Limited Run Games|LodgeNet|Piko Interactive|Wide-Boy64)"

ds_exclude="(2 Game Pack - My Amusement Park \+ Digging for Dinosaurs|2-Pack - Pinkalicious - It's Party Time! & Silverlicious - Sweet Adventure|Ben 10 - Triple Pack|Disney Two Pack - Frozen Olaf's Quest \+ Big Hero 6 - Battle in the Bay|Drawn to Life - Collection|DreamWorks 2-in-1 Party Pack|Finding Nemo - Escape to the Big Blue \(USA\)|\I Spy - Game Pack|Jewel Master Collection|Kids Learn & Play - Pets & Vets Bundle|Little League World Series Baseball - Double Play|Mama's Combo Pack - Volume|Nintendo DS Browser|My English Coach|Pig Tails \(USA\) \(Auto Demo\)|Relay Station|\(Promo|Wi-Fi Kiosk)"

gb_exclude="(Asteroids \(USA, Europe|Centipede \(USA, Europe|Contra Anniversary Collection|Darius Cozmic Revelation|Early Days Collection|Evercade|Fortified Zone 2|Game Boy Aging Cartridge|Game Boy Camera|InfoGenius Productivity Pak|Limited Run Games|ModRetro Chromatic|Mortal Kombat & Mortal Kombat II|Retro-Bit|Super Breakout \(USA)"

gba_exclude="(2 Game Pack|2 Games in 1|2 Great Games|2 in 1 Game Pack|2-in-1 Fun Pack|4 Games on One Game Pak|Barbie Superpack|Castlevania Double Pack|Combo Pack|Crash & Spyro Superpack|Crash Superpack|Dora the Explorer Double Pack|e-Reader|Evercade|GBA Jukebox|Limited Run Games|Mega Man Battle Network Legacy Collection|Sportsmans Pack 2 in 1|Spyro Superpack|\(Switch|Teenage Mutant Ninja Turtles Double Pack|Virtual Console|Yu-Gi-Oh\! Double Pack)"

gbc_exclude="(Early Days Collection|Incube8 Games|Limited Run Games|ModRetro Chromatic|Ninja JaJaMaru Retro Collection|Piko Interactive|Sewing Machine Operation Software)"

nes_exclude="(\(Broke Studio|\(Castlevania Anniversary|\(Contra Anniversary|Donkey Kong Classics|e-Reader|\(Evercade\)|Firework Thrower Kantaro's 53 Stations of the Toukaido|\(Namcot|\(Namco Museum|Nintendo World Championships 1990|\(Piko Interactive|\(Retro-Bit|\(QUByte Classics\)|\(Red Art Games\)|Sesame Street - ABC & 123|\(Star Fox - Assault\)|Super Mario Bros. \+ Duck Hunt|Super Spike V'Ball \+ Nintendo World Cup|\(Switch\)|\Virtual Console)"

snes_exclude="(\(Auto Demo|BASS Masters Classic \(USA\)|Burn-in - Test Cartridge|Cannondale Cup|\(Capcom Town|\(Classic Mini|\(Collection of Mana|\(Competition|DSP1 Tech Demo|Evercade|Exertainment Mountain Bike Rally \+ Speed Racer|Limited Run Games|NBA Jam \(USA\)|NTF 2.5 Test Cartridge|Piko Interactive|QUByte Classics|Ratalaika Games|Retro-Bit|SA1 Demonstration Program|Squaresoft Mode 7 Demo|Super Mario All-Stars \+ Super Mario World|Steam|Strictly Limited Games|Super Game Boy \(Japan, USA\)|\(Switch|The Retro Room|XBAND)"

vb_exclude=""

    # SEGA #
    
    
    
    # SNK #
    


