#!/bin/bash

# This config file uses defaults based on my needs for a US+WORLD 1G1R set
# with Exclusions that only contains retail games sold during the systems lifespan in stores
# Configure everything to suit your own needs, I have left these settings in simply as an example
# IGIR Shell Tools MUST be restarted to pick up any changes to this file


                    ##### \\\\\ These settings are MANDATORY and can not be empty ///// #####


### Path to IGIR - Relative or Absolute
igir_binary="igir"


			### DAT File
			### Absolute or relative path from IGIRST.SH, wildcards in the DAT path work.
			### If using a wildcard, ensure only 1 DAT exists for the system


    # Atari #

_2600_dat="dats/atari/Atari - Atari 2600 (Parent-Clone)*.*"

_5200_dat="dats/atari/Atari - Atari 5200 (Parent-Clone)*.*"

_7800_dat="dats/atari/Atari - Atari 7800 (BIN) (Parent-Clone)*.*"

jaguar_dat="dats/atari/Atari - Atari Jaguar (J64) (Parent-Clone)*.*"

lynx_dat="dats/atari/Atari - Atari Lynx (LYX) (Parent-Clone)*.*"

    # NEC #

tg16_dat="dats/nec/NEC - PC Engine - TurboGrafx-16 (Parent-Clone)*.*"

    # Nintendo #

_3ds_dat="dats/nintendo/Nintendo - Nintendo 3DS (Decrypted) (Parent-Clone)*.*"

_64_dat="dats/nintendo/Nintendo - Nintendo 64 (BigEndian) (Parent-Clone)*.*"

ds_dat="dats/nintendo/Nintendo - Nintendo DS (Decrypted) (Parent-Clone)*.*"

gb_dat="dats/nintendo/Nintendo - Game Boy (Parent-Clone)*.*"

gba_dat="dats/nintendo/Nintendo - Game Boy Advance (Parent-Clone)*.*"

gbc_dat="dats/nintendo/Nintendo - Game Boy Color (Parent-Clone)*.*"

nes_dat="dats/nintendo/Nintendo - Nintendo Entertainment System (Headered) (Parent-Clone)*.*"

snes_dat="dats/nintendo/Nintendo - Super Nintendo Entertainment System (Parent-Clone)*.*"

vb_dat="dats/nintendo/Nintendo - Virtual Boy (Parent-Clone)*.*"

    # SEGA #

_32x_dat="dats/sega/Sega - 32X (Parent-Clone)*.*"

gg_dat="dats/sega/Sega - Game Gear (Parent-Clone)*.*"

gen_dat="dats/sega/Sega - Mega Drive - Genesis (Parent-Clone)*.*"

ms_dat="dats/sega/Sega - Master System - Mark III (Parent-Clone)*.*"

    # SNK #

ngpc_dat="dats/snk/SNK - NeoGeo Pocket Color (Parent-Clone)*.*"


			### Input ROMs Directory
			### Absolute or relative path from IGIRST.SH


    # Atari #

_2600_input=""

_5200_input=""

_7800_input=""

jaguar_input=""

lynx_input=""

    # NEC #

tg16_input=""

    # Nintendo #

_3ds_input=""

_64_input=""

ds_input=""

gb_input=""

gba_input=""

gbc_input=""

nes_input=""

snes_input=""

vb_input=""

    # SEGA #

_32x_input=""

gg_input=""

gen_input=""

ms_input=""

    # SNK #

ngpc_input=""


			# Output ROMs Directory
			# Absolute or relative path from IGIRST.SH, or the input variable


    # Atari #

_2600_output="$_2600_input"

_5200_output="$_5200_input"

_7800_output="$_7800_input"

jaguar_output="$jaguar_input"

lynx_output="$lynx_input"

    # NEC #

tg16_output="$tg16_input"

    # Nintendo #

_3ds_output="$_3ds_input"

_64_output="$_64_input"

ds_output="$ds_input"

gb_output="$gb_input"

gba_output="$gba_input"

gbc_output="$gbc_input"

nes_output="$nes_input"

snes_output="$snes_input"

vb_output="$vb_input"

    # SEGA #

_32x_output="$_32x_input"

gg_output="$gg_input"

gen_output="$gen_input"

ms_output="$ms_input"

    # SNK #

ngpc_output="$ngpc_input"


			# Backup for cleanup - Backups are not mandatory, but a check
			# is performed to ensure IGIR will not error if using backups
			# Directory does not have to exist, and will not be created if not using backups


    # Atari #

_2600_backup="$_2600_output/../backup"

_5200_backup="$_5200_output/../backup"

_7800_backup="$_7800_output/../backup"

jaguar_backup="$jaguar_output/../backup"

lynx_backup="$lynx_output/../backup"

    # NEC #

tg16_backup="$tg16_output/../backup"

    # Nintendo #

_3ds_backup="$_3ds_output/../backup"

_64_backup="$_64_output/../backup"

ds_backup="$ds_output/../backup"

gb_backup="$gb_output/../backup"

gba_backup="$gba_output/../backup"

gbc_backup="$gbc_output/../backup"

nes_backup="$nes_output/../backup"

snes_backup="$snes_output/../backup"

vb_backup="$vb_output/../backup"

    # SEGA #

_32x_backup="$_32x_output/../backup"

gg_backup="$gg_output/../backup"

gen_backup="$gen_output/../backup"

ms_backup="$ms_output/../backup"

    # SNK #

ngpc_backup="$ngpc_output/../backup"


			#Report Filename
			# Absolute or relative path from IGIRST.SH, or the output variable


    # Atari #

_2600_report="$_2600_output/../Atari - Atari 2600 (Parent-Clone).csv"

_5200_report="$_5200_output/../Atari - Atari 5200 (Parent-Clone).csv"

_7800_report="$_7800_output/../Atari - Atari 7800 (Parent-Clone).csv"

jaguar_report="$jaguar_output/../Atari - Atari Jaguar (Parent-Clone).csv"

lynx_report="$lynx_output/../Atari - Atari Lynx (Parent-Clone).csv"

    # NEC #

tg16_report="$tg16_output/../NEC - PC Engine - TurboGrafx-16 (Parent-Clone).csv"

    # Nintendo #

_3ds_report="$_3ds_output/../Nintendo - Nintendo 3DS (Decrypted) (Parent-Clone).csv"

_64_report="$_64_output/../Nintendo - Nintendo 64 (BigEndian) (Parent-Clone).csv"

ds_report="$ds_output/../Nintendo - Nintendo DS (Decrypted) (Parent-Clone).csv"

gb_report="$gb_output/../Nintendo - Game Boy (Parent-Clone).csv"

gba_report="$gba_output/../Nintendo - Game Boy Advance (Parent-Clone).csv"

gbc_report="$gbc_output/../Nintendo - Game Boy Color (Parent-Clone).csv"

nes_report="$nes_output/../Nintendo - Nintendo Entertainment System (Headered) (Parent-Clone).csv"

snes_report="$snes_output/../Nintendo - Super Nintendo Entertainment System (Parent-Clone).csv"

vb_report="$vb_output/../Nintendo - Virtual Boy (Parent-Clone).csv"

    # SEGA #

_32x_report="$_32x_output/../Sega - 32X (Parent-Clone).csv"

gg_report="$gg_output/../Sega - Game Gear (Parent-Clone).csv"

gen_report="$gen_output/../Sega - Mega Drive - Genesis (Parent-Clone).csv"

ms_report="$ms_output/../Sega - Master System - Mark III (Parent-Clone).csv"

    # SNK #

ngpc_report="$ngpc_output/../SNK - Neo Geo Pocket Color (Parent-Clone).csv"


                        ##### \\\\\ These settings are NOT MANDATORY and can be empty ///// #####


			# Regions - Regions to filter by, in order of preference


    # Atari #

_2600_regions=""

_5200_regions=""

_7800_regions=""

jaguar_regions=""

lynx_regions=""

    # NEC #

tg16_regions=""

    # Nintendo #

_3ds_regions=""

_64_regions=""

ds_regions=""

gb_regions=""

gba_regions=""

gbc_regions=""

nes_regions=""

snes_regions=""

vb_regions=""

    # SEGA #

_32x_regions=""

gg_regions=""

gen_regions=""

ms_regions=""

    # SNK #

ngpc_regions=""


			# ROM Options - Set whatever IGIR options you want to use here


    # Atari #

_2600_options=""

_5200_options=""

_7800_options=""

jaguar_options=""

lynx_options=""

    # NEC #

tg16_options=""

    # Nintendo #

_3ds_options=""

_64_options=""

ds_options=""

gb_options=""

gba_options=""

gbc_options=""

nes_options=""

snes_options=""

vb_options=""

    # SEGA #

_32x_options=""

gg_options=""

gen_options=""

ms_options=""

    # SNK #

ngpc_options=""


			# Excludes - Must be in Glob format


    # Atari #

_2600_exclude=""

_5200_exclude=""

_7800_exclude=""

jaguar_exclude=""

lynx_exclude=""

    # NEC #

tg16_exclude=""

    # Nintendo #

_3ds_exclude=""

_64_exclude=""

ds_exclude=""

gb_exclude=""

gba_exclude=""

gbc_exclude=""

nes_exclude=""

snes_exclude=""

vb_exclude=""

    # SEGA #

_32x_exclude=""

gg_exclude=""

gen_exclude=""

ms_exclude=""

    # SNK #

ngpc_exclude=""
