#!/bin/bash

# IGIR Shell Tools MUST be restarted to pick up any changes to this file


### 7z Support - Used automatically where it is supported and requirements met

		# If ROM name is correct in 7z file(s), but 7z filename is incorrect, IGIR will fix on COPY/MOVE
		# If ROM name is incorrect in 7z file(s) IGIR will report it 'unused'
		# Extracts 'unused' 7z files, IGIR handles extracted file(s), 7z repack matched & IGIR final report
		# Files remaining in INPUT or BACKUP on completion are unmatched/unused

		# Requirements
		# 1: 7z MUST be installed on your system and the command reachable as '7z'
		# 2: Only works with MOVE currently(COPY is a big can of worms I *may* attempt)
		# 3: If system INPUT and OUTPUT paths are equal, 'clean --clean-backup' MUST be set in Additional Commands

		# If system INPUT and OUTPUT paths are NOT equal, 'clean --clean-backup' is not required
		# Any requirement above not met and 7z will silently be skipped and your files left as IGIR leaves them

	# 7z arguments eg; "-m0=lzma2 -mx=9 -mfb=256 -md=512m -ms=on". If none set, defaults used
		_7z_args=""


#            ##### \\\\\ These settings are MANDATORY for any system you use and can not be empty ///// #####


### Path to IGIR - Relative or Absolute
	igir_binary="igir"


### DAT File
	# Absolute or relative path from IGIRST.SH, wildcards in the DAT path work.

	# If using a wildcard, you may want to ensure only 1 DAT exists for the system unless purposely using multiple
	# Use ( "<path>/<filename>".<ext> ) if replacing DAT source below with a single file
	# Leave the parentheses in place for DAT Filename variable creation
	# $dat_filename for full dat name or $dat_filename_no_parentheses for a stripped version


#===# Atari #===#

	_2600_dat=( "dats/atari/Atari - Atari 2600"*.* )

	_5200_dat=( "dats/atari/Atari - Atari 5200"*.* )

	_7800_dat=( "dats/atari/Atari - Atari 7800"*.* )

	jaguar_dat=( "dats/atari/Atari - Atari Jaguar"*.* )

	lynx_dat=( "dats/atari/Atari - Atari Lynx"*.* )

#===# NEC #===#

	tg16_dat=( "dats/nec/NEC - PC Engine - TurboGrafx-16"*.* )

#===# Nintendo #===#

	_3ds_dat=( "dats/nintendo/Nintendo - Nintendo 3DS"*.* )

	_64_dat=( "dats/nintendo/Nintendo - Nintendo 64"*.* )

	ds_dat=( "dats/nintendo/Nintendo - Nintendo DS"*.* )

	gb_dat=( "dats/nintendo/Nintendo - Game Boy ("*.* )

	gba_dat=( "dats/nintendo/Nintendo - Game Boy Advance"*.* )

	gbc_dat=( "dats/nintendo/Nintendo - Game Boy Color"*.* )

	nes_dat=( "dats/nintendo/Nintendo - Nintendo Entertainment System"*.* )

	snes_dat=( "dats/nintendo/Nintendo - Super Nintendo Entertainment System"*.* )

	vb_dat=( "dats/nintendo/Nintendo - Virtual Boy"*.* )

#===# SEGA #===#

	_32x_dat=( "dats/sega/Sega - 32X"*.* )

	gg_dat=( "dats/sega/Sega - Game Gear"*.* )

	gen_dat=( "dats/sega/Sega - Mega Drive - Genesis"*.* )

	ms_dat=( "dats/sega/Sega - Master System - Mark III"*.* )

#===# SNK #===#

	ngpc_dat=( "dats/snk/SNK - NeoGeo Pocket Color"*.* )


### Input ROMs Directory
	# Absolute or relative path from IGIRST.SH


#===# Atari #===#

	_2600_input=""

	_5200_input=""

	_7800_input=""

	jaguar_input=""

	lynx_input=""

#===# NEC #===#

	tg16_input=""

#===# Nintendo #===#

	_3ds_input=""

	_64_input=""

	ds_input=""

	gb_input=""

	gba_input=""

	gbc_input=""

	nes_input=""

	snes_input=""

	vb_input=""

#===# SEGA #===#

	_32x_input=""

	gg_input=""

	gen_input=""

	ms_input=""

#===# SNK #===#

	ngpc_input=""


### Output ROMs Directory for the IGIR COPY Command
	# Absolute or relative path from IGIRST.SH, or the input variable

	# You may want to use a different directory than you do for IGIR's MOVE
	# such as for copying ROMs to the folder structure RomM uses with IGIR's `link` option
	# or to an SD card for a retro handheld, or other use case


#===# Atari #===#

	_2600_output_copy="$_2600_input"

	_5200_output_copy="$_5200_input"

	_7800_output_copy="$_7800_input"

	jaguar_output_copy="$jaguar_input"

	lynx_output_copy="$lynx_input"

#===# NEC #===#

	tg16_output_copy="$tg16_input"

#===# Nintendo #===#

	_3ds_output_copy="$_3ds_input"

	_64_output_copy="$_64_input"

	ds_output_copy="$ds_input"

	gb_output_copy="$gb_input"

	gba_output_copy="$gba_input"

	gbc_output_copy="$gbc_input"

	nes_output_copy="$nes_input"

	snes_output_copy="$snes_input"

	vb_output_copy="$vb_input"

#===# SEGA #===#

	_32x_output_copy="$_32x_input"

	gg_output_copy="$gg_input"

	gen_output_copy="$gen_input"

	ms_output_copy="$ms_input"

#===# SNK #===#

	ngpc_output_copy="$ngpc_input"


### Output ROMs Directory for the IGIR MOVE Command
	# Absolute or relative path from IGIRST.SH, or the input variable

	# You may want to use a different directory than you do for IGIR's COPY
	# such as using the same output as input for maintaining your existing collection


#===# Atari #===#

	_2600_output_move="$_2600_input"

	_5200_output_move="$_5200_input"

	_7800_output_move="$_7800_input"

	jaguar_output_move="$jaguar_input"

	lynx_output_move="$lynx_input"

#===# NEC #===#

	tg16_output_move="$tg16_input"

#===# Nintendo #===#

	_3ds_output_move="$_3ds_input"

	_64_output_move="$_64_input"

	ds_output_move="$ds_input"

	gb_output_move="$gb_input"

	gba_output_move="$gba_input"

	gbc_output_move="$gbc_input"

	nes_output_move="$nes_input"

	snes_output_move="$snes_input"

	vb_output_move="$vb_input"

#===# SEGA #===#

	_32x_output_move="$_32x_input"

	gg_output_move="$gg_input"

	gen_output_move="$gen_input"

	ms_output_move="$ms_input"
	
#===# SNK #===#

	ngpc_output_move="$ngpc_input"


### Report Filename
	# Absolute or relative path from IGIRST.SH, or the input/output variables
	
	# DAT filename varibles are dynamically created by IGIR Shell Tools based on the DAT used
	# $dat_filename for full dat name or $dat_filename_no_parentheses for a stripped version

#===# Atari #===#

	_2600_report="${_2600_input}/../${dat_filename}.csv"

	_5200_report="${_5200_input}/../${dat_filename}.csv"

	_7800_report="${_7800_input}/../${dat_filename}.csv"

	jaguar_report="${jaguar_input}/../${dat_filename}.csv"

	lynx_report="${lynx_input}/../${dat_filename}.csv"

#===# NEC #===#

	tg16_report="${tg16_input}/../${dat_filename}.csv"

#===# Nintendo #===#

	_3ds_report="${_3ds_input}/../${dat_filename}.csv"

	_64_report="${_64_input}/../${dat_filename}.csv"

	ds_report="${ds_input}/../${dat_filename}.csv"

	gb_report="${gb_input}/../${dat_filename}.csv"

	gba_report="${gba_input}/../${dat_filename}.csv"

	gbc_report="${gbc_input}/../${dat_filename}.csv"

	nes_report="${nes_input}/../${dat_filename}.csv"

	snes_report="${snes_input}/../${dat_filename}.csv"

	vb_report="${vb_input}/../${dat_filename}.csv"

#===# SEGA #===#

	_32x_report="${_32x_input}/../${dat_filename}.csv"

	gg_report="${gg_input}/../${dat_filename}.csv"

	gen_report="${gen_input}/../${dat_filename}.csv"

	ms_report="${ms_input}/../${dat_filename}.csv"

#===# SNK #===#

	ngpc_report="${ngpc_input}/../${dat_filename}.csv"


#           ##### \\\\\ These settings are OPTIONAL for any system you use and can be empty ///// #####


### Additional IGIR Commands to use besides COPY and MOVE (Link, Extract, ZIP, Clean etc)
			
	# If using clean with --clean-backup, you may use input/output_copy/output_move variables
	# eg; "clean --clean-backup $_2600_output_move/../backup"
	# puts files in a `backup` directory 1 level up from output_move


#===# Atari #===#

	_2600_command_add=""

	_5200_command_add=""

	_7800_command_add=""

	jaguar_command_add=""

	lynx_command_add=""

#===# NEC ##===#

	tg16_command_add=""

#===# Nintendo #===#

	_3ds_command_add=""

	_64_command_add=""

	ds_command_add=""

	gb_command_add=""

	gba_command_add=""

	gbc_command_add=""

	nes_command_add=""

	snes_command_add=""

	vb_command_add=""

#===# SEGA #===#

	_32x_command_add=""

	gg_command_add=""

	gen_command_add=""

	ms_command_add=""

#===# SNK #===#	

	ngpc_command_add=""


### ROM Options - Set whatever IGIR options you want to use here
	# eg; "-R USA,WORLD -r USA,WORLD --single --no-bios --only-retail --no-unlicensed --prefer-revision newer"

#===# Atari #===#

	_2600_options=""

	_5200_options=""

	_7800_options=""

	jaguar_options=""

	lynx_options=""

#===# NEC #===#

	tg16_options=""

#===# Nintendo #===#

	_3ds_options=""

	_64_options=""

	ds_options=""

	gb_options=""

	gba_options=""

	gbc_options=""

	nes_options=""

	snes_options=""

	vb_options=""

#===# SEGA #===#

	_32x_options=""

	gg_options=""

	gen_options=""

	ms_options=""

#===# SNK #===#

	ngpc_options=""


### Excludes - Must be in Glob format
	# eg; "(\(Alt|Atari Anthology|BASIC Programming|Color Bar Generator|PROPER 12K)"

#===# Atari #===#

	_2600_exclude=""

	_5200_exclude=""

	_7800_exclude=""

	jaguar_exclude=""

	lynx_exclude=""

#===# NEC #===#

tg16_exclude=""

#===# Nintendo #===#

	_3ds_exclude=""

	_64_exclude=""

	ds_exclude=""

	gb_exclude=""

	gba_exclude=""

	gbc_exclude=""

	nes_exclude=""

	snes_exclude=""

	vb_exclude=""

#===# SEGA #===#

	_32x_exclude=""

	gg_exclude=""

	gen_exclude=""

	ms_exclude=""

#===# SNK #===#

	ngpc_exclude=""
